body{
    background: rgb(191, 96, 140);
}
/*estilizando_imagen_de_ingresando*/
.contenedor_33{
    width: 1278px;
    margin-top: -10px;
    margin-left: -10px;
    height: 360px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(255, 203, 212);
}
.ingresando_imagen{
    margin-left: 5px;
    margin-top: 5px;
    width: 1267px;
    height: 350px;
}
/*estilizando_ingresando*/
.contenedor_34{
    margin-top: 5px;
    margin-left: 360px;
    height: 200px;
    width: 500px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(255, 203, 212);   
}
.ingresar_correo_electronico{
    margin-left: 5px;
    font-family: Arial;
    font-size: 20px;
}
.cuadro_1,.cuadro_2{
    width: 295px;
}
.ingresar_contraseña{
    margin-left: 72px;
    font-family: Arial;
    font-size: 20px;
}
.boton_ingresar{
    margin-top: 45px;
    margin-left: 185px;
    font-size: 25px;
    font-family: Arial;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(191, 96, 140);
}