body{
    background: rgb(191, 96, 140);
}
/*estilizando_imagen_de_registrarse*/
.contenedor_35{
    width: 1261px;
    margin-top: -10px;
    margin-left: -10px;
    height: 360px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(255, 203, 212);
}
.registrarse_titulo{
    margin-left: 5px;
    margin-top: 5px;
    width: 1250px;
    height: 350px;
}
/*estilizando_registrarse*/
.contenedor_36{
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 200px;
    width: 820px;
    height: 587px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(255, 203, 212);
}
.nombre{
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    margin-left: 5px;   
    font-size: 25px;
}
.apellido{
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    margin-left: 2px;   
    font-size: 25px;
}
.edad{
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    margin-left: 38px;   
    font-size: 25px;
}
.sexo{
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    margin-left: -150px;   
    font-size: 25px;
}
.correo_electronico{
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    margin-left: -125px;   
    font-size: 25px;
}
.contraseña{
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    margin-left: -40px;   
    font-size: 25px;
}
.ciudad{
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    margin-left: -155px;   
    font-size: 25px;
}
.departamento{
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    margin-left: -265px;   
    font-size: 25px;
}
.barrio{
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    margin-left: -115px;   
    font-size: 25px;
}
.escribir_nombre, .escribir_apellido, .escribir_edad, .escribir_sexo, .escribir_correo_electronico, .escribir_contraseña, .escribir_ciudad, .escribir_departamento, .escribir_barrio{
    font-size: 25px;
}
.registrar{
    font-size: 30px;
    margin-left: 340px;
    font-family: Arial;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(191, 96, 140);
}